/* =========================
   LOGIN PAGE STYLES
========================= */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body {
    background-image:
        linear-gradient(
            rgba(10, 15, 30, 0.45),
            rgba(20, 30, 50, 0.55)
        ),
        url("./images/gt.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
}


.auth-container{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}*/

.auth-card{
    width:400px;
    background:#fff;
    padding:40px;
    border-radius:15px;
    box-shadow:0 8px 20px rgba(0,0,0,0.2);
}

.auth-card h1{
    text-align:center;
    color:#0A2A43;
    margin-bottom:10px;
}

.auth-card h2{
    text-align:center;
    margin-bottom:20px;
    color:white;
}

.subtitle{
    text-align:center;
    margin-bottom:25px;
    color:white;
}

input{
    width:100%;
    padding:14px;
    margin-bottom:15px;
    border:1px solid #ccc;
    border-radius: 35px;
    font: size 15px;
outline: none;
    background-color: none;

}

input:focus{
    outline:none;
    border-color:#124F7A;
}

button{
    width:100%;
    padding:14px;
    border:none;
    border-radius:8px;
    background:#124F7A;
    color:white;
    cursor:pointer;
    font-size:16px;
}

button:hover{
    background:#0A2A43;
}

.switch-page{
    text-align:center;
    margin-top:20px;
}

.switch-page a{
    text-decoration:none;
    color:#124F7A;
    font-weight:bold;
}

.switch-page a:hover{
    text-decoration:underline;
}